# =============================================================================
# Git 忽略规则
target/
.idea/
*.iml
.classpath
.project
.settings/
.vscode/
*.log
.DS_Store
node_modules

docs/.vitepress/cache
docs/.vitepress/dist
